 body {
        text-align: center;
    }
    #page {
        width: 960px;
        text-align: left;
        margin: 10px auto 20px auto;
        background-color: #0c0c0c;
    }
    #sidebar {
        float: left;
        width: 200px;
        border: solid 1px #000;
    }
    #content {
        float: left;
        width: 600px;
        border: solid 1px #f00;
        padding: 10px;
    }


